

npm install --save bootstrap
npm install react-router-dom --save
npm install --save react-bootstrap
npm install react-svg-worldmap --save
npm install --save react-date-range
npm install --save react date-fns